<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>Nazca | #{title}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="Nazca">
      <meta name="keywords" content="">
      <meta name="author" content="Nazca">

      <meta name="og:image" content=""> <!-- todo add image -->
      <meta name="og:title" content="Nazca">
      <meta name="og:description" content="Nazca">
      <meta name="og:url" content="http://nazcabot.io">

      <meta name="twitter:card" content="summary">
      <meta name="twitter:image" content=""> <!-- todo add image -->
      <meta name="twitter:title" content="Nazca">
      <meta name="twitter:description" content="Nazca">
      <meta name="twitter:url" content="http://nazcabot.io">

      <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" type="text/css" href="css/main.css">
    </head>
  <body class=#{title}>
    <!-- Header -->
    <header>
      <nav>
      </nav>
    </header>
    <!-- End header -->

    <!-- Page Content -->
    block content
    <!-- End page content -->

    <!-- Footer -->
      <footer>
      </footer>
    <!-- End footer -->

    <!-- Scripts -->
    block scripts
    <!-- End scripts -->
  </body>
</html>