extend default

block content

    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>Dynamic portfolio for cryptocurrencies</h1>
                    <h2>Hedge the market with big firms’ strategies</h2>
                    <div class="lead-collector">
                        <input name="email" placeholder="Enter your email address"/>
                        <button class="secondary">Subscribe</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="/img/dashboard@2x.png" />
                </div>
            </div>
        </div>
    </section>

    <section class="features-section-1 dark" id="features">
        <div class="container">
            <div class="row feature">
                <div class="col-sm-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-8 col-xs-offset-2">
                    <img src="/img/graphic-feature1@2x.png"/>
                </div>
                <div class="col-sm-6">
                    <h2>Portfolio Management</h2>
                    <h4>Suspendisse nec ligula egestas, faucibus nisi ac, elementum neque. Aliquam quis tempor libero, vel semper dolor. Nam arcu nulla, mollis non ipsum nec, consectetur tempor dui. Cras sit.</h4>
                    <p>Some stat about how <strong>hodling</strong> can be more profitable by an average of <em>7%</em></p>
                </div>
            </div>
            <div class="row feature">
                <div class="hidden-lg hidden-md hidden-sm col-xs-8 col-xs-offset-2">
                    <img src="/img/graphic-feature2@2x.png"/>
                </div>
                <div class="col-sm-6">
                    <h2>Investment Rebalancing</h2>
                    <h4>Suspendisse nec ligula egestas, faucibus nisi ac, elementum neque. Aliquam quis tempor libero, vel semper dolor. Nam arcu nulla, mollis non ipsum nec, consectetur tempor dui. Cras sit.</h4>
                    <p>Some stat about how <strong>hodling</strong> can be more profitable by an average of <em>7%</em></p>
                </div>
                <div class="col-sm-6 col-md-offset-0 col-sm-6 col-sm-offset-0 hidden-xs">
                    <img src="/img/graphic-feature2@2x.png"/>
                </div>
            </div>
            <div class="row feature">
                <div class="col-sm-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-8 col-xs-offset-2">
                    <img src="/img/graphic-feature3@2x.png"/>
                </div>
                <div class="col-sm-6">
                    <h2>Something else</h2>
                    <h4>Suspendisse nec ligula egestas, faucibus nisi ac, elementum neque. Aliquam quis tempor libero, vel semper dolor. Nam arcu nulla, mollis non ipsum nec, consectetur tempor dui. Cras sit.</h4>
                    <p>Some stat about how <strong>hodling</strong> can be more profitable by an average of <em>7%</em></p>
                    <span class="coming-soon-badge">Coming soon</span>
                </div>
            </div>
        </div>
    </section>

    <section class="features-section-2">
        <div class="container center">
            <div class="row">
                <div class="col-sm-4 feature">
                    <img src="img/coinicon-feature1.png"/>
                    <h3>Data Driven</h3>
                    <p>Proin egestas tortor erat, feugiat porta libero ornare et. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce euismod imperdiet.</p>
                </div>
                <div class="col-sm-4 feature">
                    <img src="img/coinicon-feature2.png"/>
                    <h3>Risk Management</h3>
                    <p>Proin egestas tortor erat, feugiat porta libero ornare et. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce euismod imperdiet.</p>
                </div>
                <div class="col-sm-4 feature">
                    <img src="img/coinicon-feature3.png"/>
                    <h3>Safe and Secure</h3>
                    <p>Proin egestas tortor erat, feugiat porta libero ornare et. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce euismod imperdiet.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="team">
        <div class="container">
            <h2 class="center">The Team</h2>
            <div class="row">
                <div class="col-sm-4 col-sm-offset-0 col-xs-10 col-xs-offset-1 member-wrapper"><div class="member"></div></div>
                <div class="col-sm-4 col-sm-offset-0 col-xs-10 col-xs-offset-1 member-wrapper"><div class="member"></div></div>
                <div class="col-sm-4 col-sm-offset-0 col-xs-10 col-xs-offset-1 member-wrapper"><div class="member"></div></div>
            </div>
        </div>
    </section>

