extend default

block content

    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>Dynamic portfolio for&nbsp;cryptocurrencies</h1>
                    <h2>Hedge the market with big firms’ strategies</h2>
                </div>
            </div>
        </div>
    </section>

    <section class="features-section-1 dark">
        <div class="container">
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6">
                    <h2>Portfolio Management</h2>
                    <h4>Suspendisse nec ligula egestas, faucibus nisi ac, elementum neque. Aliquam quis tempor libero, vel semper dolor. Nam arcu nulla, mollis non ipsum nec, consectetur tempor dui. Cras sit.</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h2>Investment Rebalancing</h2>
                    <h4>Suspendisse nec ligula egestas, faucibus nisi ac, elementum neque. Aliquam quis tempor libero, vel semper dolor. Nam arcu nulla, mollis non ipsum nec, consectetur tempor dui. Cras sit.</h4>
                </div>
                <div class="col-md-6"></div>
            </div>
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6">
                    <h2>Something else</h2>
                    <h4>Suspendisse nec ligula egestas, faucibus nisi ac, elementum neque. Aliquam quis tempor libero, vel semper dolor. Nam arcu nulla, mollis non ipsum nec, consectetur tempor dui. Cras sit.</h4>
                </div>
            </div>
        </div>
    </section>

    <section class="features-section-2">
        <div class="container center">
            <div class="row">
                <div class="col-md-4">
                    <img src="img/coinicon-feature1.png"/>
                    <h3>Data Driven</h3>
                    <p>Proin egestas tortor erat, feugiat porta libero ornare et. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce euismod imperdiet.</p>
                </div>
                <div class="col-md-4">
                    <img src="img/coinicon-feature2.png"/>
                    <h3>Risk Management</h3>
                    <p>Proin egestas tortor erat, feugiat porta libero ornare et. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce euismod imperdiet.</p>
                </div>
                <div class="col-md-4">
                    <img src="img/coinicon-feature3.png"/>
                    <h3>Safe and Secure</h3>
                    <p>Proin egestas tortor erat, feugiat porta libero ornare et. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce euismod imperdiet.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="darker">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="white">Easily build your strategy</h2>
                    <p>Aliquam nibh nunc, sagittis gravida eleifend non, molestie et tortor. Nullam vel accumsan quam. Etiam iaculis urna at nulla blandit dignissim. Vestibulum euismod consectetur ante, eu rhoncus ante lacinia sit amet. Donec id purus aliquet, hendrerit ligula id, elementum dui.</p>
                </div>
                <div class="col-md-6">
                    <h2 class="white">Customize your investment model</h2>
                    <p>Aliquam nibh nunc, sagittis gravida eleifend non, molestie et tortor. Nullam vel accumsan quam. Etiam iaculis urna at nulla blandit dignissim. Vestibulum euismod consectetur ante, eu rhoncus ante lacinia sit amet. Donec id purus aliquet, hendrerit ligula id, elementum dui.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="dark" id="roadmap">
        <div class="container">
            <h2 class="center">Roadmap</h2>
        </div>
    </section>

    <section id="pricing">
        <div class="container">
            <h2 class="center">Pricing</h2>
        </div>
    </section>

    <section id="faq">
        <div class="container">
            <h2 class="center">Frequently Asked Questions</h2>
        </div>
    </section>

    <section id="team">
        <div class="container">
            <h2 class="center">The Team</h2>
        </div>
    </section>

