extend default

block content

    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>Dynamic portfolio for cryptocurrencies</h1>
                    <h2>Hedge the market with big firms’ strategies</h2>
                    <div class="lead-collector">
                        <input name="email" placeholder="Enter your email address"/>
                        <button class="secondary">Subscribe</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="/img/dashboard@2x.png" />
                </div>
            </div>
        </div>
    </section>

    <section class="features-section-1 dark" id="features">
        <div class="container">
            <div class="row feature">
                <div class="col-sm-6 col-md-offset-0 col-xs-8 col-xs-offset-2">
                    <img src="/img/graphic-feature1@2x.png"/>
                </div>
                <div class="col-sm-6">
                    <h2>Portfolio Management</h2>
                    <h4>Suspendisse nec ligula egestas, faucibus nisi ac, elementum neque. Aliquam quis tempor libero, vel semper dolor. Nam arcu nulla, mollis non ipsum nec, consectetur tempor dui. Cras sit.</h4>
                    <p>Some stat about how <strong>hodling</strong> can be more profitable by an average of <em>7%</em></p>
                </div>
            </div>
            <div class="row feature">
                <div class="col-sm-6">
                    <h2>Investment Rebalancing</h2>
                    <h4>Suspendisse nec ligula egestas, faucibus nisi ac, elementum neque. Aliquam quis tempor libero, vel semper dolor. Nam arcu nulla, mollis non ipsum nec, consectetur tempor dui. Cras sit.</h4>
                    <p>Some stat about how <strong>hodling</strong> can be more profitable by an average of <em>7%</em></p>
                </div>
                <div class="col-sm-6 col-md-offset-0 col-xs-8 col-xs-offset-2">
                    <img src="/img/graphic-feature2@2x.png"/>
                </div>
            </div>
            <div class="row feature">
                <div class="col-sm-6 col-md-offset-0 col-xs-8 col-xs-offset-2">
                    <img src="/img/graphic-feature1@2x.png"/>
                </div>
                <div class="col-sm-6">
                    <h2>Something else</h2>
                    <h4>Suspendisse nec ligula egestas, faucibus nisi ac, elementum neque. Aliquam quis tempor libero, vel semper dolor. Nam arcu nulla, mollis non ipsum nec, consectetur tempor dui. Cras sit.</h4>
                    <p>Some stat about how <strong>hodling</strong> can be more profitable by an average of <em>7%</em></p>
                    <span class="coming-soon-badge">Coming soon</span>
                </div>
            </div>
        </div>
    </section>

    <section class="features-section-2">
        <div class="container center">
            <div class="row">
                <div class="col-sm-4 feature">
                    <img src="img/coinicon-feature1.png"/>
                    <h3>Data Driven</h3>
                    <p>Proin egestas tortor erat, feugiat porta libero ornare et. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce euismod imperdiet.</p>
                </div>
                <div class="col-sm-4 feature">
                    <img src="img/coinicon-feature2.png"/>
                    <h3>Risk Management</h3>
                    <p>Proin egestas tortor erat, feugiat porta libero ornare et. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce euismod imperdiet.</p>
                </div>
                <div class="col-sm-4 feature">
                    <img src="img/coinicon-feature3.png"/>
                    <h3>Safe and Secure</h3>
                    <p>Proin egestas tortor erat, feugiat porta libero ornare et. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce euismod imperdiet.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="darker feature-section-3">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <img src="/img/icon-feature1.png"/>
                    <h2 class="white">Easily build your strategy</h2>
                    <p>Aliquam nibh nunc, sagittis gravida eleifend non, molestie et tortor. Nullam vel accumsan quam. Etiam iaculis urna at nulla blandit dignissim. Vestibulum euismod consectetur ante, eu rhoncus ante lacinia sit amet. Donec id purus aliquet, hendrerit ligula id, elementum dui.</p>
                </div>
                <div class="col-sm-6">
                    <img src="/img/icon-feature1.png"/>
                    <h2 class="white">Customize your investment model</h2>
                    <p>Aliquam nibh nunc, sagittis gravida eleifend non, molestie et tortor. Nullam vel accumsan quam. Etiam iaculis urna at nulla blandit dignissim. Vestibulum euismod consectetur ante, eu rhoncus ante lacinia sit amet. Donec id purus aliquet, hendrerit ligula id, elementum dui.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="dark" id="roadmap">
        <div class="container">
            <h2 class="center">Roadmap</h2>
            <ul class="col-md-10 col-md-offset-1">
                <li class="complete"><i class="fa fa-check-circle" aria-hidden="true"></i> In pulvinar pharetra viverra duis molestie elementum dapibus.</li>
                <li class="complete"><i class="fa fa-check-circle" aria-hidden="true"></i> Curabitur aliquet auctor porta mauris viverra diam consequat, lobortis.</li>
                <li><i class="fa fa-check-circle" aria-hidden="true"></i> Nunc nunc felis, feugiat ac orci viverra, dictum accumsan mi. Praesent et felis egestas.</li>
                <li><i class="fa fa-check-circle" aria-hidden="true"></i> Venenatis ipsum nec, facilisis ipsum.</li>
                <li><i class="fa fa-check-circle" aria-hidden="true"></i> Curabitur posuere magna at lobortis aliquam. Pellentesque lobortis lacinia rutrum.</li>
            </ul>
        </div>
    </section>

    //- <section id="pricing">
    //-     <div class="container">
    //-         <h2 class="center">Pricing</h2>
    //-     </div>
    //- </section>

    <section id="faq">
        <div class="container">
            <h2 class="center">Frequently Asked Questions</h2>
            <ul class="col-md-10 col-md-offset-1">
                <li>
                    <span class="q">In pulvinar pharetra viverra duis molestie elementum dapibus? 
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        <i class="fa fa-minus" aria-hidden="true"></i>
                    </span>
                    <p class="a">Praesent aliquet massa vitae auctor vestibulum. Vivamus pretium libero eu posuere luctus. Maecenas sed ultrices orci, a pharetra ex. Donec ac laoreet lectus. Aliquam a facilisis metus. In sit amet dui eu est viverra dictum ac vel urna. Nullam commodo vehicula nisi, eget blandit urna iaculis eget. Nulla tempor purus neque, eget tincidunt sapien aliquam eu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur et malesuada lectus. Suspendisse nunc velit, iaculis vitae nulla sit amet, blandit porttitor nibh</p>
                </li>
                <li>
                    <span class="q">Curabitur aliquet auctor porta mauris viverra diam consequat, lobortis? 
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        <i class="fa fa-minus" aria-hidden="true"></i>
                    </span>
                    <p class="a">Praesent aliquet massa vitae auctor vestibulum. Vivamus pretium libero eu posuere luctus. Maecenas sed ultrices orci, a pharetra ex. Donec ac laoreet lectus. Aliquam a facilisis metus. In sit amet dui eu est viverra dictum ac vel urna. Nullam commodo vehicula nisi, eget blandit urna iaculis eget. Nulla tempor purus neque, eget tincidunt sapien aliquam eu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur et malesuada lectus. Suspendisse nunc velit, iaculis vitae nulla sit amet, blandit porttitor nibh</p>
                </li>
                <li>
                    <span class="q">Nunc nunc felis, feugiat ac orci viverra, dictum accumsan mi. Praesent et felis egestas? 
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        <i class="fa fa-minus" aria-hidden="true"></i>
                    </span>
                    <p class="a">Praesent aliquet massa vitae auctor vestibulum. Vivamus pretium libero eu posuere luctus. Maecenas sed ultrices orci, a pharetra ex. Donec ac laoreet lectus. Aliquam a facilisis metus. In sit amet dui eu est viverra dictum ac vel urna. Nullam commodo vehicula nisi, eget blandit urna iaculis eget. Nulla tempor purus neque, eget tincidunt sapien aliquam eu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur et malesuada lectus. Suspendisse nunc velit, iaculis vitae nulla sit amet, blandit porttitor nibh</p>
                </li>
                <li>
                    <span class="q">Venenatis ipsum nec, facilisis ipsum? 
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        <i class="fa fa-minus" aria-hidden="true"></i>
                    </span>
                    <p class="a">Praesent aliquet massa vitae auctor vestibulum. Vivamus pretium libero eu posuere luctus. Maecenas sed ultrices orci, a pharetra ex. Donec ac laoreet lectus. Aliquam a facilisis metus. In sit amet dui eu est viverra dictum ac vel urna. Nullam commodo vehicula nisi, eget blandit urna iaculis eget. Nulla tempor purus neque, eget tincidunt sapien aliquam eu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur et malesuada lectus. Suspendisse nunc velit, iaculis vitae nulla sit amet, blandit porttitor nibh</p>
                </li>
                <li>
                    <span class="q">Curabitur posuere magna at lobortis aliquam. Pellentesque lobortis lacinia rutrum? 
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        <i class="fa fa-minus" aria-hidden="true"></i>
                    </span>
                    <p class="a">Praesent aliquet massa vitae auctor vestibulum. Vivamus pretium libero eu posuere luctus. Maecenas sed ultrices orci, a pharetra ex. Donec ac laoreet lectus. Aliquam a facilisis metus. In sit amet dui eu est viverra dictum ac vel urna. Nullam commodo vehicula nisi, eget blandit urna iaculis eget. Nulla tempor purus neque, eget tincidunt sapien aliquam eu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur et malesuada lectus. Suspendisse nunc velit, iaculis vitae nulla sit amet, blandit porttitor nibh</p>
                </li>
            </ul>
        </div>
    </section>

    <section id="team">
        <div class="container">
            <h2 class="center">The Team</h2>
            <div class="row">
                <div class="col-sm-4 col-sm-offset-0 col-xs-10 col-xs-offset-1 member-wrapper"><div class="member"></div></div>
                <div class="col-sm-4 col-sm-offset-0 col-xs-10 col-xs-offset-1 member-wrapper"><div class="member"></div></div>
                <div class="col-sm-4 col-sm-offset-0 col-xs-10 col-xs-offset-1 member-wrapper"><div class="member"></div></div>
            </div>
        </div>
    </section>

