extend default

block content

    <section>
        <div class="container">
            <h2>Terms and Conditions</h2>
            <p>Donec rhoncus libero sed lorem sagittis, id laoreet lectus blandit. Sed at mollis nulla. Donec et blandit ex. Maecenas suscipit tellus ac ipsum fringilla, a pretium nisi scelerisque. Sed a vehicula neque. Ut eget erat non velit maximus fringilla. Suspendisse potenti. Duis vitae viverra dui. Nam eget accumsan erat, hendrerit gravida odio. Donec consequat quis odio ac pharetra. Aenean congue, nisl egestas semper posuere, mi lorem molestie diam, eget cursus nisl dui eu lacus. Nulla facilisi. In placerat volutpat odio, vehicula suscipit neque elementum id. Vestibulum posuere mollis mauris, sit amet consectetur justo commodo eget. Nullam luctus ultricies volutpat.</p>
        </div>
    </section>
