.Home {
    .hero {
        padding: 0;
        position: relative;
        z-index: 99;

        &::before {
            content: '';
            display: block;
            background: url(../img/hero@2x.png) no-repeat;
            background-size: 64% 100%;
            position: absolute;
            height: 698px;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 0;
        }

        h1 {
            margin: 296px 0 25px;
        }
        h2 {
            color: #CEDBFA;
            font-size: 24px;
            margin-bottom: 34px;
            line-height: 28px;
        }

        img {
            margin-top: 180px;
            width: 630px;
        }

        .lead-collector {
            ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
              color: rgba(255,255,255,0.7);
            }
            ::-moz-placeholder { /* Firefox 19+ */
              color: rgba(255,255,255,0.7);
            }
            :-ms-input-placeholder { /* IE 10+ */
              color: rgba(255,255,255,0.7);
            }
            :-moz-placeholder { /* Firefox 18- */
              color: rgba(255,255,255,0.7);
            }
        }

        @media screen and (max-width: 991px) {
            text-align: center;

            &::before {
                background-size: 130% 100%;
            }
            h1 {
                margin-top: 190px;
            }
            .lead-collector {
                margin: 0 auto;
            }
            img {
                margin-top: 50px;
                max-width: 630px;
                width: 100%;
            }
        }
    }

    .features-section-1 {
        padding-top: 304px;
        margin-top: -116px;

        .feature {
            padding: 50px 0;

            .feature-img {
                text-align: center;
                img {
                    margin-top: -100px;
                    width: 100%;
                    @media screen and (max-width: 991px) {
                        margin-top: 0;
                    }
                    @media screen and (max-width: 767px) {
                        max-width: 300px;
                    }
                }
            }
            h2 {
                line-height: 30px;
            }
            h4 {
                border-bottom: 2px solid $outline-dark;
                padding-bottom: 16px;
                margin-bottom: 16px;
            }
            p {
                line-height: 24px;
                font-size: 16px;
                font-style: italic;
                width: 90%;
            }
        }
        
        @media screen and (max-width: 991px) {
            margin-top: -256px;
            .feature img {
                margin-top: -70px;
            }
        }
    }

    .features-section-2 {
        &::after {
            background: url(../img/shape-2.png) no-repeat;
            background-size: 100%;
            content: '';
            height: 195px;
            width: 98px;
            position: absolute;
            left: -6px;
            bottom: -80px;
        }
        .feature {
            padding: 14px 24px;
        }
        img {
            margin-bottom: 14px;
            width: 78px;
        }
    }

    .feature-section-3 {
        background: url(../img/bg-features.png) no-repeat;
        background-size: 100% 100%;
        padding: 124px 0;
        z-index: 99;

        &::before {
            background: url(../img/shape-1.png) no-repeat;
            background-size: 100%;
            content: '';
            height: 183px;
            width: 131px;
            position: absolute;
            top: 0;
            right: 0;
        }

        img {
            width: 44px;
        }

        @media screen and (max-width: 690px) {
            background: $text-primary;
            &::before {
                top: -20px;
            }
        }
    }

    #roadmap {
        padding-top: 200px;
        margin-top: -140px;

        &::after {
            background: url(../img/shape-2.png) no-repeat;
            background-size: 100%;
            content: '';
            height: 195px;
            width: 98px;
            position: absolute;
            left: -6px;
            bottom: -40px;
        }

        @media screen and (max-width: 991px) {
            &::after {
                bottom: -110px;
            }
        }

        ul {
            list-style: none;

            li {
                color: $text-secondary;
                display: block;
                font-size: 20px;
                padding: 15px 0;
                i {
                    color: $text-secondary;
                    margin-right: 16px;
                }

                &.complete {
                    color: $text-primary;
                    i {
                        color: $primary;
                    }
                }
            }
        }
    }

    #faq {
        ul {
            cursor: pointer;
            list-style: none;

            li {
                &:hover {
                    .q {
                        color: $primary;
                        i {
                            color: $primary;
                        }
                    }
                }
                .q {
                    border-bottom: 2px solid $outline;
                    display: block;
                    font-size: 20px;
                    padding: 15px 15px 15px 0;

                    i {
                        float: right;
                        font-size: 14px;
                        margin-top: 4px;
                        margin-right: -15px;
                    }
                    .fa-minus {
                        display: none;
                    }
                }
                .a {
                    color: $text-secondary;
                    display: none;
                    margin-bottom: 20px;
                }

                &.active {
                    .a {
                        display: block;
                    }
                }
            }
        }
    }

    #team {
        overflow: hidden;
        padding-bottom: 180px;

        &::after {
            background: url(../img/shape-3.png) no-repeat;
            background-size: 100%;
            content: '';
            height: 330px;
            width: 88px;
            position: absolute;
            right: 0;
            bottom: 70px;

            @media screen and (max-width: 991px) {
                height: 164px;
                width: 68px;
            }
        }

        .member-wrapper {
            padding: 40px;

            @media screen and (max-width: 991px) {
                padding: 16px;
            }

            .member {
                max-width: 280px;
                margin: 0 auto;

                img {
                    width: 100%;
                }
                .member-details {
                    background: rgba(255,255,255,0.6);
                    padding: 8px 20px;
                    width: 66%;
                    margin-top: -80px;
                    position: absolute;

                    .name {
                        color: $primary;
                        display: block;
                        font-family: $font-semibold;
                        font-size: 20px;
                    }
                    .title {
                        display: block;
                        margin-top: 2px;
                        font-family: $font-semibold;
                    }
                    a {
                        i {
                            color: $white;
                            font-size: 16px;
                            margin-right: 6px;
                        }
                    }
                }
            }
        }
    }
}
