.Home {
    .hero {
        padding: 0;
        position: relative;

        &::before {
            content: '';
            display: block;
            background: url(../img/hero@2x.png) no-repeat;
            background-size: 60% 100%;
            position: absolute;
            height: 698px;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 0;
        }

        h1 {
            margin-top: 290px;
        }
        h2 {
            color: #CEDBFA;
            font-size: 26px;
            margin-bottom: 250px;
        }
    }

    .features-section-1 {
        padding-top: 380px;
        margin-top: -176px;
    }

    .features-section-2 {
        div {
            padding: 14px 24px;
        }
        img {
            width: 78px;
        }
    }
}
