.Home {
    .hero {
        padding: 0;
        position: relative;

        &::before {
            content: '';
            display: block;
            background: url(../img/hero@2x.png) no-repeat;
            background-size: 64% 100%;
            position: absolute;
            height: 698px;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 0;
        }

        h1 {
            margin: 296px 0 27px;
        }
        h2 {
            color: #CEDBFA;
            font-size: 26px;
            margin-bottom: 34px;
        }

        img {
            margin-top: 200px;
            width: 590px;
        }

        .lead-collector {
            ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
              color: rgba(255,255,255,0.7);
            }
            ::-moz-placeholder { /* Firefox 19+ */
              color: rgba(255,255,255,0.7);
            }
            :-ms-input-placeholder { /* IE 10+ */
              color: rgba(255,255,255,0.7);
            }
            :-moz-placeholder { /* Firefox 18- */
              color: rgba(255,255,255,0.7);
            }
        }
    }

    .features-section-1 {
        padding-top: 304px;
        margin-top: -116px;
        .feature {
            padding: 40px 0;
            img {
                margin-top: -124px;
                width: 100%;
            }
            h4 {
                border-bottom: 2px solid $outline-dark;
                padding-bottom: 16px;
                margin-bottom: 16px;
            }
            p {
                width: 90%;
            }
        }
    }

    .features-section-2 {
        div {
            padding: 14px 24px;
        }
        img {
            width: 78px;
        }
    }

    .lead-collector {
        background-color: #5180FF;
        border-radius: 6px;
        max-width: 402px;
        overflow: auto;
        padding: 6px 6px 6px 22px;;
        -webkit-box-shadow: inset 0 -1px 0 0 rgba(255,255,255,0.08), inset 0 1px 0 0 rgba(255,255,255,0.1);
        box-shadow: inset 0 -1px 0 0 rgba(255,255,255,0.08), inset 0 1px 0 0 rgba(255,255,255,0.1);

        input {
            background: none;
            color: $white;
            font-size: 17px;
            margin-top: 9px;
            min-width: 220px;
        }
        button {
            float: right;
            text-transform: uppercase;
        }
    }
}
