$primary:           #3F70FD;
$secondary:         #FF4FBF;

$white:             #ffffff;

$text-primary:      #484C63;
$text-secondary:    #8388A5;

$error:             #f74d43;
$success:           #84c76e;

$bg:                #F3F6FA;
$outline:           #EEF1F5;
$outline-dark:      #E5E5EB;
